<section data-ng-controller="SuppliersController" data-ng-init="findOne()">
    <div class="page-header">
        <h1 data-ng-bind="supplier.name"></h1>
    </div>
    <div class="pull-right">
        <a class="btn btn-primary" data-ui-sref="suppliers.edit({supplierId: supplier._id})">
        <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
        <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <div class="lead" data-ng-bind="supplier.description"></div>
    <address class="list-group-item-text">
    {{ suuplier.website }} <br>
    <a href="mailto:{{ supplier.mail }}">{{ supplier.mail }}</a><br>
    {{ supplier.name }} <br>
    {{ supplier.address }}  <br>
    {{ supplier.postcode }}, {{ supplier.city }} <br>
    {{ supplier.country }} <br>
    </address>
</section>
