<section data-ng-controller="ComponentsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1 data-ng-bind="component.name"></h1>
    </div>
    <div class="pull-right">
        <a class="btn btn-primary" data-ui-sref="components.edit({componentId: component._id})">
        <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
        <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <div><strong>Categories :</strong> {{component.categories}}</div><br>
    <div class="lead" data-ng-bind="component.description"></div>
    <div><strong>Suppliers :</strong> {{component.suppliers}}</div><br>
</section>
